@font-face {
    font-family: 'English Towne';
    src: url(/fonts/EnglishTowneMedium-X3na.ttf) format("truetype");
}

.header{
    margin: 0;
    font-size: 48pt;
}

.english-towne-regular {
    font-family: 'English Towne', serif;
    font-weight: 400;
    font-style: normal;
}
  
.english-towne-regular-italic {
    font-family: 'English Towne', serif;
    font-weight: 400;
    font-style: italic;
}
  
.project-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 15px;
}

.project{
    width: 100%;
    background-color: red;
    aspect-ratio: 1;
}

/* Add support for mobile later. */
