.portfolio-site-header {
    margin-bottom: 0;
    font-size: 70pt;
}

.portfolio-site-header-subtitle {
    margin: 0;
    font-size: 45pt;
}

.portfolio-site-header-subtitle-subtitle {
    margin: 0;
    font-size: 20pt;   
}

.portfolio-accent-color {
    color: goldenrod;
}