body
{
    background-color: #ffffff;
    background-image:  radial-gradient(#474747 0.5px, transparent 0.5px), radial-gradient(#474747 0.5px, #ffffff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}


@font-face {
    font-family: 'Chomsky';
    src: url(/fonts/chomsky.regular.otf) format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url(/fonts/JosefinSansRegular-x3LYV.ttf) format("truetype");
    font-weight: 400; 
}

@font-face {
    font-family: 'Josefin Sans';
    src: url(/fonts/JosefinSansBold-OVA7o.ttf) format("truetype");
    font-weight: 800;
}

.chomsky-regular {
    font-family: 'Chomsky', serif;
    font-weight: 400;
    font-style: normal;
}

.josefin-sans-regular {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.josefin-sans-bold {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    font-style: bold;
}

.section-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 85%;
}

.site-header {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 60pt;
}

.section-header {
    margin: 0;
    font-size: 50pt;
}

.small-section-header {
    margin: 0;
    font-size: 35pt;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 10px;
}

.item {
    padding-bottom: 10px;
    border: 2px solid black;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.item img {
    max-width: 100%;
    height: auto;
}

.item-information-container {
    margin: 10px;
}

.item-information-container h2{
    margin: 0;
    font-size: 30pt;    
}

.item-information-container p{
    margin: 0;
}

.link-button{
    background-color: whitesmoke;
    height: 45px;
    width: 45px;
    border: 2px solid black;
    padding: 5px;
}

.link-button img {
    object-fit: cover;
    height: auto;
    width: auto;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    display: flex;
    border-left: 2px solid black;
}

.navbar li a {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    font-size: 15pt;
    text-decoration: none;
    margin: auto;
}

.logo
{
    justify-self: flex-start;
    margin-right: auto;
}

.logo h1
{
    font-size: 28pt;
    margin: 10px 16px;
}

.special-container-backdrop {


    --mask: 
      conic-gradient(from 135deg at top,#0000,#000 1deg 89deg,#0000 90deg) top/18px 51% repeat-x,
      conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) bottom/18px 51% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
    /* 
    --mask: 
      conic-gradient(from 135deg at top,#0000,#000 1deg 89deg,#0000 90deg) top/10px 51% repeat-x,
      conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) bottom/10px 51% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask); */


    background-color: black;
    background-size: 10px 10px;
    background-image:  repeating-linear-gradient(0deg, #343000, #343000 1px, black 1px, black);

    padding: 10px;
    margin-bottom: 40px;
}

.special-container-color {
    color: rgb(255, 170, 0);
}

.portfolio-button {
    display: flex;
    height: min-content;
    border: 2px solid black;
    background-color: whitesmoke;
}

.portfolio-button h2 {
    margin: 18px 0px 10px 10px;
    font-size: 24pt; 
}

/* Add support for mobile later. */

/* 
@media (not (pointer: coarse)) and (max-width: 939px)  {
    body {
        color: red;
    }

    .item {
        aspect-ratio: 0;
        padding-bottom: 10px;
    }
}


@media (pointer: coarse) {
    body {
        color: red;
    }

    
} */